.topnavbar {
    height: 10vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    padding: 0% 5%;
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.topnavbar_title {
    font-weight: 700;
    width: 10%;
}

.topnavbar_nav{
    display: flex;
    align-items: center;
    
    /*justify-content: center;
    width: 40%;*/
}

@media (min-width:320px) and (max-width: 730px) {
    .topnavbar_nav {
        display: none;
    }
}